@font-face {
  font-family: "Hack Nerd Font";
  src: url("../font/Hack Nerd Font.ttf") format("truetype");
}
* {
  box-sizing: border-box;
  font-family: "Hack Nerd Font";
}
body,
html,
#root,
#container {
  width: 100%;
  height: 100%;
}
body {
  margin: 0;
}
.dialogContainer {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 2;
}
.dialog {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background-color: #f5f5f5;
  padding: 50px;
  border-radius: 5px;
}
#sidebar {
  width: 150px;
  background-color: #809ee8;
  min-height: 100%;
  float: left;
}
.sidebar_bt {
  color: white;
  padding: 20px;
  font-weight: bold;
  white-space: nowrap;
}
.sidebar_bt:hover {
  cursor: pointer;
}
#content_container {
  width: calc(100% - 150px);
  background-color: #eee;
  height: 100%;
  max-height: 100%;
  float: left;
  overflow: auto;
}
.content {
  padding: 15px;
}
#header {
  padding: 15px;
  padding-left: 25px;
  background-color: white;
  box-shadow: 0px 2px 1px 0px #ddd;
  font-weight: bold;
}
#account {
  float: right;
}
#account_detail {
  font-size: 13px;
}
.actived {
  background-color: #688ce8;
  transition: all 0.2s;
  border-left: 3px white solid;
}
.hide {
  display: none;
}
.hover_pointer:hover {
  cursor: pointer;
}
#addGuide {
  text-align: center;
  color: #aaa;
  font-size: 20px;
  margin-top: 50px;
  margin-bottom: 20px;
}
#addGuide:hover {
  text-decoration: underline;
  cursor: pointer;
}

/*================================================================================
 * Reusable style !
================================================================================*/
.Button {
  padding: 7px;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  min-width: 50px;
  text-align: center;
  box-shadow: 0px 2px 1px 0px #ddd;
  background-color: white;
  font-weight: bold;
  color: #555;
}
.Button:hover {
  filter: brightness(0.8);
}

.Primary {
  background-color: #8ad10a;
  color: white;
}
.Secondary {
  background-color: blue;
  color: white;
}
.Danger {
  background-color: red;
  color: white;
}
.Input {
  padding: 7px;
  border: 1px solid #ccc;
}
.dataBorder {
  background-color: white;
  box-shadow: 0px 2px 1px 0px #ddd;
  margin-top: 15px;
}

.studentList {
  width: 100%;
}
.studentList tr th {
  background-color: #8ad10a;
  color: white;
  padding: 3px;
}
.studentList tr td {
  background-color: white;
  padding: 3px;
}
.profileArea:hover {
  cursor: pointer;
  background-color: #ccc;
}
.profileArea {
  padding: 3px;
  border-radius: 5px;
}
.answerTable td {
  border: 1px solid #ccc;
  min-width: calc(130px / 8);
}
.resultBorder {
  border-radius: 5px;
  background-color: #efefef;
  padding: 7px;
}
.hover {
  transition: all 0.2s;
  text-align: center;
}
.hover:hover {
  cursor: pointer;
  transition: all 0.3s;
  font-size: 33px !important;
  color: grey;
}
.studentResult {
  background-color: #eee;
  padding: 5px;
  margin-top: 10px;
}
.resultControl {
  animation: fadeinControl 0.5s;
}
@keyframes fadeinControl {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.resultTable th {
  background-color: #bbb;
  color: white;
}
.resultTable td {
  border-bottom: 1px solid #ccc;
}
#xlsx_table {
  width: 100% !important;
  border-collapse: collapse;
}
#xlsx_table th,
#xlsx_table td {
  background-color: white;
  padding: 5px;
  white-space: nowrap;
}
#xlsx_table td {
  border: 1px solid #aaa;
}
.Disabled {
  opacity: 0.5 !important;
}
.Disabled:hover {
  cursor: not-allowed;
}
.xlsx_table_container {
  max-height: 350px;
  max-width: 500px;
  overflow-y: hidden;
  overflow-x: auto;
}
.xlsx_locked {
  background-color: #ddd !important;
}
